<div class="col">
    <div class="h-150 w-150 center mt-20">
        <img *ngIf="foto.FotoPerfil != null && foto.FotoPerfil != ''" class="responsive-img circle w-150 h-150"
            [src]="foto.FotoPerfil">
        <img *ngIf="foto.FotoPerfil == null || foto.FotoPerfil == ''" class="responsive-img circle w-150 h-150"
            src="../../../../assets/user.png">
    </div>
    <div class="collection border0 margin0 mt-20">
        <div class="collapsible-header" (click)="crud.menuChange(3)" [ngClass]="{'blue lighten-3': crud.menu == 3}">
            <i class="material-icons">person</i>
            Usuarios
        </div>
        <div class="collapsible-header" (click)="crud.menuChange(2)" [ngClass]="{'blue lighten-3': crud.menu == 2}">
            <i class="material-icons">attach_money</i>
            Ventas
        </div>
        <div class="collapsible-header" (click)="crud.menuChange(1)" [ngClass]="{'blue lighten-3': crud.menu == 1}">
            <i class="material-icons">settings</i>
            Editar Perfil
        </div>
        <div class="collapsible-header" (click)="authS.logout()">
            <i class="material-icons">power_settings_new</i>
            Cerrar Sesión
        </div>
    </div>
</div>