<div class="centerY">
    <div class="container" style="width: 60rem;">
        <div class="card z-depth-0">
            <div class="card-body">
                <form [formGroup]="formR" novalidate
                    (ngSubmit)="authS.register(email.value, pass.value, name.value, lastName.value, '')">
                    <div class="row">
                        <div class="input-field col">
                            <input type="text" name="name" id="name" class="validate" formControlName="name" #name>
                            <label for="name">Nombre</label>
                        </div>
                        <div class="input-field col">
                            <input type="text" name="lastName" id="lastName" class="validate" formControlName="lastName"
                                #lastName>
                            <label for="lastName">Apellidos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col">
                            <input type="email" name="correo" id="correo"
                                [class.invalid]="formR.get('correo').hasError('pattern') || authS.errorMessage == 1"
                                formControlName="correo" #email>
                            <label for="correo">Correo electrónico</label>
                            <span class="helper-text" data-error="El correo electrónico proporcionado ya esta en uso"
                                data-success="right"></span>
                        </div>
                        <div class="input-field col">
                            <input type="password" name="pass" id="pass"
                                [class.invalid]="formR.get('pass').hasError('minlength')" formControlName="pass" #pass>
                            <label for="pass">Contraseña</label>
                            <span class="helper-text" data-error="Contraseña muy corta" data-success="right"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="progress" *ngIf="authS.loader == 1">
                            <div class="indeterminate"></div>
                        </div>
                        <button type="submit" class="btn waves-effect green darken-2 btn-medium waves-light z-depth-0"
                            [disabled]="formR.invalid || authS.loader == 1" style="width: 100%;">Registrarse</button>
                    </div>
                </form>
                <div class="row">
                    <a routerLink="/" style="width: 100%;">
                        <button type="button" class="btn waves-effect teal darken-4 btn-medium waves-light z-depth-0"
                            style="width: 100%;">Iniciar Sesión</button>
                    </a>
                </div>
                <div class="row">
                    <button class="btn waves-effect red darken-2 btn-medium waves-light z-depth-0" style="width: 100%;"
                        (click)="authS.loginGoogle()" [disabled]="authS.loader == 1">Registrarse con Google</button>
                </div>
                <div class="row">
                    <button type="button" class="btn waves-effect light-blue darken-1 btn-medium waves-light z-depth-0"
                        style="width: 100%;" (click)="authS.loginTwitter()" [disabled]="authS.loader == 1">Registrarse con Twitter</button>
                </div>
                <div class="row">
                    <button type="button" class="btn waves-effect light-blue darken-4 btn-medium waves-light z-depth-0"
                        style="width: 100%;" (click)="authS.loginFacebook()" [disabled]="authS.loader == 1">Registrarse con Facebook</button>
                </div>
            </div>
        </div>
    </div>
</div>