<div class="col">
    <ul class="tabs tabs-fixed-width tab-demo z-depth-0 mt-20">
        <li class="tab"><a class="active" href="#ventas1">Cotizaciones y contratos</a></li>
        <li class="tab"><a href="#ventas2">Negocio</a></li>
        <li class="tab"><a href="#ventas3">Comisiones</a></li>
    </ul>
    <div id="ventas1" class="col">
        <blockquote>
            <h5>Añade el consecutivo de tus cotizaciones y contratos</h5>
        </blockquote>
        <div class="card z-depth-0 mt-20">
            <div class="card-body">
                <div class="row">
                    <div class="input-field col">
                        <input type="text" hidden name="venta" id="venta" [value]="ventas.Ventas" #venta>
                        <input type="text" name="letra" id="letra" #letra [value]="formato.Letras"
                            onkeyup="javascript:this.value=this.value.trim();">
                        <label for="letra"
                            [class.active]="formato.Letras != '' && formato.Letras != null">Letras</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Ejemplo: MJ HB</span>
                    </div>
                    <div class="input-field col">
                        <input type="text" name="g1" id="g1" #g1 [value]="formato.Guion1">
                        <label for="g1" [class.active]="formato.Guion1 != '' && formato.Guion1 != null">Separador
                            1</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Ejemplo: / - _</span>
                    </div>
                    <div class="input-field col">
                        <input type="text" name="numero" id="numero" #numero value="0001" disabled>
                        <span class="helper-text" data-error="wrong" data-success="right">Cotizaciones y contratos
                            inician
                            en 0001</span>
                    </div>
                    <div class="input-field col">
                        <input type="text" name="g2" id="g2" #g2 [value]="formato.Guion2">
                        <label for="g2" [class.active]="formato.Guion2 != '' && formato.Guion2 != null">Separador
                            2</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Ejemplo: / - _</span>
                    </div>
                    <div class="input-field col">
                        <input type="text" name="fecha" id="fecha" #fecha disabled [value]="year">
                        <label for="fecha" class="active">Año actual</label>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn waves-effect light-blue darken-2 btn-medium waves-light z-depth-0"
                        (click)="cs.consecutivos(letra.value, g1.value, numero.value, g2.value, fecha.value, venta.value)">
                        <i class="material-icons right">cached</i>Actualizar consecutivo de formatos
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="ventas2" class="col">
        <blockquote>
            <h5>Crea las lineas de negocio</h5>
        </blockquote>
        <div class="card z-depth-0 mt-20">
            <div class="card-body">
                <form action="" novalidate [formGroup]="form" (ngSubmit)="cs.lineas(linea.value)">
                    <div class="row">
                        <div class="input-field col">
                            <input type="text" name="linea" id="linea" #linea formControlName="linea">
                            <label for="linea">Linea de negocio</label>
                        </div>
                        <div class="input-field col">
                            <button type="submit" class="btn-floating light-blue darken-2 z-depth-0"
                                [class.pulse]="form.valid && linea.value != ''"
                                [disabled]="form.invalid || linea.value == ''" (click)="limpiar()"><i
                                    class="material-icons">add</i></button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="chip" *ngFor="let l of lineas">{{l.data.Linea}}
                        <i class="close material-icons" (click)="cs.deleteL(l.id)">close</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ventas3" class="col">
        <blockquote>
            <h5>Asigna el % de comisiones a tus lineas de negocio</h5>
        </blockquote>
        <div class="card z-depth-0" *ngFor="let lp of lineas">
            <div class="card-body">
                <div class="row">
                    <div class="input-field col">
                        <blockquote>
                            <h5>
                                {{lp.data.Linea}}
                            </h5>
                        </blockquote>
                    </div>
                    <div class="input-field col">
                        <input type="number" name="prodP" id="prodP" #prodP [value]="lp.data.Pproducto"
                            onkeyup="javascript:if(this.value == ''){this.value = 0}">
                        <label for="prodP" class="active">% para el producto</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Para los decimales usa el
                            punto
                            (.)</span>
                    </div>
                    <div class="input-field col">
                        <input type="number" name="serP" id="serP" #serP [value]="lp.data.Pservicio"
                            onkeyup="javascript:if(this.value == ''){this.value = 0}">
                        <label for="serP" class="active">% para el servicio</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Para los decimales usa el
                            punto
                            (.)</span>
                    </div>
                    <div class="input-field col">
                        <button class="btn-floating waves-effect light-blue darken-2 btn-medium waves-light mr-20 z-depth-0"
                            type="button" (click)="cs.updateL(prodP.value, serP.value, lp.id)">
                            <i class="material-icons right">check</i></button>
                        <button class="btn-floating waves-effect red darken-2 btn-medium waves-light z-depth-0"
                            (click)="modal(lp.id)" type="button">
                            <i class="material-icons right">delete</i></button>
                    </div>
                </div>
            </div>
            <div *ngIf="modalv == lp.id" class="bodyD" (click)="modal(0)"></div>
            <div *ngIf="modalv == lp.id" class="row w-560 fixedModal">
                <div class="col">
                    <div class="card darken-1">
                        <div class="card-content black-text">
                            <span class="card-title">¿Esta seguro de eliminar <b>{{lp.data.Linea}}</b>?</span>
                            <p>Tenga en cuenta que al eliminar <b>{{lp.data.Linea}}</b>, esto no afectará el historial
                                que
                                se halla creado con la misma.</p>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect blue darken-2 mr-20 z-depth-0"
                                (click)="modal(0)">Cancelar</button>
                            <button class="btn waves-effect red darken-2 z-depth-0"
                                (click)="cs.deleteL(lp.id)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="lineas == null || lineas == ''" class="alert alert-warning" role="alert">
            Primero debes crear tus lineas de negocio
        </div>
    </div>






    <div *ngIf="cs.success == 1" class="alert alert-success fixed" role="alert">
        Formato actualizado correctamente
    </div>
    <div *ngIf="cs.success == 1" class="alert alert-success" role="alert">
        Formato actualizado correctamente
    </div>
    <div *ngIf="cs.success2 == 1" class="alert alert-success fixed" role="alert">
        Porcentajes actualizados correctamente
    </div>
</div>