<div class="col">
    <div class="row mt-20">
        <div class="col">
            <ul class="tabs tabs-fixed-width tab-demo z-depth-0">
                <li class="tab"><a href="#test1">Usuarios</a></li>
                <li class="tab"><a class="active" href="#test2">Crear usuarios</a></li>
            </ul>
            <div id="test1" class="col s12">
                <p>Test 1</p>
            </div>
            <div id="test2" class="col s12">
                <blockquote>
                    <h5>Usuario nuevo</h5>
                </blockquote>
                <div class="card z-depth-0">
                    <div class="card-body">
                        <form action="" novalidate [formGroup]="form">
                            <div class="row">
                                <div class="input-field col">
                                    <input type="text" id="nombre" name="nombre" #nombre formControlName="nombre">
                                    <label for="nombre">Nombre</label>
                                </div>
                                <div class="input-field col">
                                    <input type="text" id="apellido" name="apellido" #apellido
                                        formControlName="apellido">
                                    <label for="apellido">Apellidos</label>
                                </div>
                                <div class="input-field col">
                                    <input type="text" id="identificacion" name="identificacion" #identificacion
                                        formControlName="identificacion">
                                    <label for="identificacion"># de Identificación (Opcional)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col">
                                    <input type="text" id="contacto" name="contacto" #contacto
                                        formControlName="contacto">
                                    <label for="contacto"># de contacto (Opcional)</label>
                                </div>
                                <div class="input-field col">
                                    <input type="text" id="email" name="email" #email formControlName="email">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col">
                                    <input type="password" class="wi-220" id="pass" name="pass" #pass
                                        formControlName="pass">
                                    <label for="pass">Contraseña</label>
                                    <button class="btn btn-small btnRT z-depth-0">Generar</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col">
                                    <input type="text" id="cargo" name="cargo" #cargo formControlName="cargo">
                                    <label for="cargo">Cargo (Opcional)</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" hidden [value]="areaT" #area formControlName="area">
                                    <select class="showDrop">
                                        <option value="">Ningun área asignada</option>
                                    </select>
                                    <label>Área a la que sera asignada</label>
                                    <ul id='dropdown1' class='dropdown-content' style="width: 100%;">
                                        <li *ngFor="let a of areasN" class="hideDrop"><a><span>{{a.data.Area}}</span> <div class="btn-floating red right waves-effect z-depth-0 btn-small"><i class="material-icons" (click)="cs.deleteA(a.id)">delete</i></div></a></li>
                                        <li>
                                            <div class="input-field col">
                                                <input type="text" style="width: 90%;" id="areaC" name="areaC" #areaC
                                                    [(ngModel)]="areaInput" [ngModelOptions]="{standalone: true}">
                                                <label for="areaC">Crear un área</label>
                                                <button class="btn-floating btn-small btnRT z-depth-0 blue darken-2 addArea"
                                                    [class.pulse]="areaInput != '' && areaInput != null"
                                                    [disabled]="areaInput == ''" (click)="cs.areas(areaC.value)"><i
                                                        class="material-icons">add</i></button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>