<div class="centerY">
    <div class="container" style="width: 30rem;">
        <div class="card z-depth-0">
            <div class="card-body">
                <form [formGroup]="form" novalidate (ngSubmit)="authS.login(email.value, pass.value)">
                    <div class="row">
                        <div class="input-field col">
                            <i class="material-icons prefix"
                                [class.invalid]="form.get('email').hasError('pattern')">person_outline</i>
                            <input id="email" type="email" formControlName="email" #email
                                [class.invalid]="form.get('email').hasError('pattern')">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col">
                            <i class="material-icons prefix"
                                [class.invalid]="form.get('password').hasError('minlength')">vpn_key</i>
                            <input id="pass" type="password" #pass
                                [class.invalid]="form.get('password').hasError('minlength') || authS.errorLogin == 1" formControlName="password">
                            <label for="pass">Contraseña</label>
                            <span class="helper-text" *ngIf="authS.errorLogin == 1" data-error="El correo o la contraseña son incorrectos"
                                data-success="right"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="progress" *ngIf="authS.loader == 1">
                            <div class="indeterminate"></div>
                        </div>
                        <button type="submit" class="btn waves-effect green darken-2 btn-medium waves-light z-depth-0"
                            style="width: 100%;" [disabled]="form.invalid || authS.loader == 1">Iniciar Sesión</button>
                    </div>
                </form>
                <div class="row">
                    <a routerLink="Registro" style="width: 100%;">
                        <button type="button" class="btn waves-effect teal darken-4 btn-medium waves-light z-depth-0"
                            style="width: 100%;">Registrarse</button>
                    </a>
                </div>
                <div class="row">
                    <button class="btn waves-effect red darken-2 btn-medium waves-light z-depth-0" style="width: 100%;"
                        (click)="authS.loginGoogle()" [disabled]="authS.loader == 1">Iniciar
                        Sesión con Google</button>
                </div>
                <div class="row">
                    <button type="button" class="btn waves-effect light-blue darken-1 btn-medium waves-light z-depth-0"
                        style="width: 100%;" (click)="authS.loginTwitter()" [disabled]="authS.loader == 1">Iniciar Sesión con Twitter</button>
                </div>
                <div class="row">
                    <button type="button" class="btn waves-effect light-blue darken-4 btn-medium waves-light z-depth-0"
                        style="width: 100%;" (click)="authS.loginFacebook()" [disabled]="authS.loader == 1">Iniciar Sesión con Facebook</button>
                </div>
            </div>
        </div>
    </div>
</div>