<div class="contenedor">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="contenido" [ngSwitch]="cs.menu">
        <div *ngSwitchCase="1">
            <app-editar-perfil></app-editar-perfil>
        </div>
        <div *ngSwitchCase="2">
            <app-ventas></app-ventas>
        </div>
        <div *ngSwitchCase="3">
            <app-usuarios></app-usuarios>
        </div>
    </div>
</div>