<div class="col">
    <blockquote>
        <h2>Actualiza tus datos</h2>
    </blockquote>
    <div class="card z-depth-0 mt-20">
        <div class="card-body">
            <div class="row">
                <div class="input-field col">
                    <input type="text" name="empresa" id="empresa" #empresa [(ngModel)]="empresaI"
                        [value]="perfil.Empresa">
                    <label for="empresa" [class.active]="perfil.Empresa != null && perfil.Empresa != ''">Empresa</label>
                </div>
                <div class="input-field col">
                    <input type="text" name="nit" id="nit" #nit [(ngModel)]="nitI" [value]="perfil.NIT">
                    <label for="nit" [class.active]="perfil.NIT != null && perfil.NIT != ''">NIT</label>
                </div>
                <div class="input-field col">
                    <input type="text" name="telefono" id="telefono" #telefono [(ngModel)]="telefonoI"
                        [value]="perfil.Telefono">
                    <label for="telefono" [class.active]="perfil.Telefono != null && perfil.Telefono != ''">Teléfono de
                        contácto</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input type="text" name="pais" id="pais" #pais [(ngModel)]="paisI"
                        onkeyup="javascript:this.value=this.value.toUpperCase();" [value]="perfil.Pais">
                    <label for="pais" [class.active]="perfil.Pais != null && perfil.Pais != ''">País</label>
                </div>
                <div class="input-field col">
                    <input type="text" name="ciudad" id="ciudad" #ciudad [(ngModel)]="ciudadI"
                        onkeyup="javascript:this.value=this.value.toUpperCase();" [value]="perfil.Ciudad">
                    <label for="ciudad" [class.active]="perfil.Ciudad != null && perfil.Ciudad != ''">Ciudad</label>
                </div>
                <div class="input-field col">
                    <input type="text" name="direccion" id="direccion" #direccion [(ngModel)]="direccionI"
                        onkeyup="javascript:this.value=this.value.toUpperCase();" [value]="perfil.Direccion">
                    <label for="direccion"
                        [class.active]="perfil.Direccion != null && perfil.Direccion != ''">Dirección</label>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn waves-effect light-green darken-2 btn-medium waves-light z-depth-0"
                    style="width: 100%;"
                    (click)="cs.update(empresa.value, nit.value, telefono.value, pais.value, ciudad.value, direccion.value)"
                    [disabled]="empresaI == '' && nitI == '' && telefonoI == '' && paisI == '' && ciudadI == '' && direccionI == ''">Actualizar
                    Perfil</button>
            </div>
        </div>
    </div>
    <div class="file-field input-field">
        <div class="btn z-depth-0" [class.grey]="cs.porcentaje != null">
            <span>Sube el logo de tu empresa</span>
            <input type="file" accept=".png, .jpg, .jpeg, .svg" #img (change)="cs.uploadImage($event)" [disabled]="cs.porcentaje != null">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" [value]="cs.porcentaje ? null: ''">
        </div>
    </div>
    <progress *ngIf="cs.porcentaje != null" class="progress is-large is-success" [value]="(cs.porcentaje | async)" max="100">0%</progress>
    <img *ngIf="perfil.LogoEmpresa != null && perfil.LogoEmpresa != ''" class="responsive-img w-150 h-150" [src]="perfil.LogoEmpresa">
    <div *ngIf="cs.success == 1" class="alert alert-success fixed" role="alert">
        Perfil actualizado correctamente
    </div>
    <div *ngIf="cs.success == 1" class="alert alert-success" role="alert">
        Perfil actualizado correctamente
    </div>
</div>