/* You can add global styles to this file, and also import other style files */
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.centerY{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.input-field .prefix.invalid{
    color: red;
}
.border0{
    border: 0;
}
.margin0{
    margin: 0;
}
.padding0{
    padding: 0;
}
@for $i from 1 to 1000 {
    .mt-#{$i}{
        margin-top: #{$i}px;
    }
}
@for $r from 1 to 1000 {
    .mr-#{$r}{
        margin-right: #{$r}px;
    }
}
@for $l from 1 to 1000 {
    .ml-#{$l}{
        margin-left: #{$l}px;
    }
}
@for $w from 1 to 1000 {
    .w-#{$w}{
        width: #{$w}px;
    }
}
@for $wi from 1 to 1000 {
    .wi-#{$wi}{
        width: #{$wi}px !important;
    }
}
@for $h from 1 to 1000 {
    .h-#{$h}{
        height: #{$h}px;
    }
}

.fixed{
    position: fixed;
    top: 35px;
    right: 35px;
}  

.fixedModal{
    position: fixed;
    top: calc(50vh - 67px);
    left: calc(50vw - 212px);
    z-index: 999;
}
.bodyD{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    filter: blur(6px);
}
.btnRT{
    float: right;
    margin-top: 15px;
}